body {
	font-family: arial;
	color:#808383;
	font-size: 18px;
	font-style: bold;
	width: 90%;
	min-width: 500px;
	margin: 0 auto;
}

header {
	background:#01B0F0;
	color:#FFFFFF;
	text-align: center;
	background-image: src="logo-swell-tech-white copy.png" class="images_petit" alt="logo";
}

nav li {
	display: inline-block;
}

nav {
	width: 100%;
	color:#808383;
	background:#01B0F0;
	text-align: center;
	display: inline-block;
	position: relative;
}

header, nav, footer {width: 96%; padding: 0 2%;}
aside, article {float:left}
aside {width: 24%;padding: 0 2%; margin-right: 2%;border-radius:10px;border-color:#01B0F0;}
article {width: 66%; padding: 0 2%;}
footer {clear:both;float: left;margin-top: 20px;background:#01B0F0;}

a:hover {
	text-decoration: underline;
	color:#808383;
	font-size: 20px;
	font-style: bold;
}

a {color: #FFFFFF}

p {
	margin: 20px 0 20px 0;
	padding: 2%;
}

.images_petit {
width:150px;
height:150px;
float: left;
margin-top: -30px;
}

.home_menu{
word-spacing: 20px;
text-align: left;
}

.home_slider img{
	width: 100%;
	overflow: hidden;

}

nav ul li {display:inline-block;
margin-top: none
}


@media screen and (max-width: 767px) {
	nav {background: green;}
}
footer {
	text-align: center;
	color:#FFFFFF;
	padding-top: 20px;
}
