body {
	font-family: arial;
	color:#808383;
	font-size: 18px;
	font-style: bold;
	width: 90%;
	min-width: 500px;
	margin: 0 auto;
	background: url("logo_surfskate.jpg")no-repeat center; 
}

header {
	background:#01B0F0;
	color:#808383;
	text-align: center;
}

nav li {
	display: inline-block;
}

nav {
	width: 100%;
	color:#808383;
	background:#01B0F0;
	text-align: center;
	display: inline-block;
	position: relative;
}

header, nav, footer {width: 96%; padding: 0 2%;}
aside, article {float:left}
aside {width: 24%;padding: 0 2%; margin-right: 2%;border-radius:10px;border-color:#01B0F0;}
article {width: 66%; padding: 0 2%;}
footer {clear:both;float: left;margin-top: 20px;background:#01B0F0;}

a:hover {
	text-decoration: underline;
	color:#808383;
	font-size: 20px;
	font-style: bold;
}

p {
	margin: 20px 0 20px 0;
	padding: 2%;
}

nav ul li {display:inline-block;}


@media screen and (max-width: 767px) {
	nav {background: green;}
}
